<div class="admin-page  col-12 md-6 lg-3"
>
<p-card header="Add Category" subheader="You can add or edit categories here" >

  <div class="grid mb-5">
    <div class="col-12">
      <p-toolbar>
        <div class="toolbar-group-left"></div>
        <div class="toolbar-group-right">
          <p-button
          styleClass="button-primary mr-2"
          label="Create"
          icon="pi pi-plus"

          ></p-button>

          <p-button
          styleClass="p-button-secondary" label="cancel"
          icon="pi pi-arrow-circle-left"
          routerLink="/category/form"
          ></p-button>
        </div>
      </p-toolbar>
    </div>
  </div>

  <div class="grid">
    <div class="col-12">
 <form>
  <div class="field grid">
    <label for="firstname3" class="col-fixed" style="width:100px">Firstname</label>
    <div class="col">
        <input id="firstname3" type="text" pInputText>
    </div>
</div>
<div class="field grid">
    <label for="lastname3" class="col-fixed" style="width:100px">Lastname</label>
    <div class="col">
        <input id="lastname3" type="text" pInputText>
    </div>
</div>
 </form>
    </div>
  </div>



</p-card>
</div>
