//make sure you import the file in order wise
@import '~normalize.css/normalize.css';
//Base

@import './base/colors.scss';
@import './base/fonts.scss';
@import './base/mixin.scss';
@import './base/configuration.scss';

//Libraries we use prime ng libraries
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';

//shared
@import './apps/admin/shell.scss';
@import './apps/admin/dashboard.scss';
//pages
@import './apps/shop/pages//home-page.scss';
@import './apps/shop/pages/products-list-page.scss';

//libs
@import './libs/ui/ui.scss';
@import './libs/users/users.scss';
