.admin{
  &-wrapper {
    height: 100%;
    padding: 0;
    margin:0;

  }
  &-main {
    //this calculation because 175px is covering the sidebar
    width: calc(100% - 175px);
    margin-left: 175px;

  }

  &-sidebar{
    position: fixed;
    width: 175px;
    background-color: rgb(37, 37, 54);
    height: 100%;
    top: 0;

    .logo{
      padding: 20px;
      width: 100%;

      img{
        max-width: 100%;
      }
    }

    .links {
      ul{
        margin: 0;
        padding: 0;
        li {
          display: block;
          list-style: none;
          width: 100%;
          a{
            color: #fff;
            padding: 10px 15px;
            display: block;
            width: 100%;
            &:hover{
              background-color: rgb(55, 108, 221);
            }
            i {
                 margin-right: 8px;
                 margin-top: 0;
                 float: left;
            }
            &.logout{
              color: lightskyblue;
            }
          }
        }

      }
    }
  }
  &-page {
    padding: 25px;
    width: 80%;
    display: inline-block;
    position: relative;
    left: 15%;

  }
}
