<p-toast></p-toast>
<div class="admin-page  col-12 md-6 lg-3"
>
<p-card [header]="editmode ? 'Edit Category' : 'Add Catgory'" subheader="You can add or edit categories here" >

  <div class="grid mb-5">
    <div class="col-12">
      <p-toolbar>
        <div class="toolbar-group-left"></div>
        <div class="toolbar-group-right">
          <p-button
          styleClass="button-primary mr-2"
          [label]="editmode ? 'Update' : 'Create'"
          icon="pi pi-plus"
          (click)="onSubmit()"
          ></p-button>

          <p-button
          styleClass="p-button-secondary" label="cancel"
          icon="pi pi-arrow-circle-left"
         (click)="onCancel()"
          ></p-button>
        </div>
      </p-toolbar>
    </div>
  </div>

  <div class="grid">
    <div class="col-12">
 <form  [formGroup]="form">
  <div class="field grid">
    <label for="name" class="col-fixed" style="width:100px">Name</label>
    <div class="col">
        <input formControlName="name" id="name" type="text" pInputText>
        <small *ngIf="categroyForm.name.invalid && isSubmitted" class="p-error"
        >Name is required</small>
    </div>
</div>
<div class="field grid">
    <label for="icon" class="col-fixed" style="width:100px">Icon</label>
    <div class="col">
        <input formControlName="icon" id="icon" type="text" pInputText>
        <small *ngIf="categroyForm.icon.invalid && isSubmitted" class="p-error"
        >Icon is required</small
      >
    </div>

</div>


<div class="field grid">
  <label for="icon" class="col-fixed" style="width:100px">Color</label>
  <div class="col">
    <p-colorPicker class="ml-50" formControlName="color"></p-colorPicker>
  </div>

</div>

 </form>
    </div>
  </div>



</p-card>
</div>
