<p-toast></p-toast>

<div class="admin-page  p-col-12 p-md-6 p-lg-3"
>
<p-card header="Orders" subheader="List of all orders" >
<div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="orders"styleClass="p-datatable-gridlines" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>

                <th pSortableColumn="name">User  <p-sortIcon field="user"></p-sortIcon></th>
                <th pSortableColumn="totalPrice">Total Price  <p-sortIcon field="totalPrice"></p-sortIcon></th>
                <th pSortableColumn="dateOrdered">Date Ordered  <p-sortIcon field="dateOrdered"></p-sortIcon></th>

                <th pSortableColumn="status"> Status<p-sortIcon field="status"></p-sortIcon></th>

                <th></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>

                <td>{{order.user.name}}</td>
                <td>{{order.totalPrice}}</td>
                <td>{{order.dateOrdered  | date: 'short'}}</td>


   <td>
     <div>
     <p-tag
     [severity]=" (order.status == orderStatus.pending ) ?  'warning' :
     (order.status ==  orderStatus.approved) ?  'info' :
     (order.status == orderStatus.processed) ? 'success'  :
     (order.status ==  orderStatus.shiped) ? 'info' :
     (order.status ==  orderStatus.delivered) ? 'success':
     'danger'"


    >

    <small>
      {{
      (order.status == orderStatus.failed ) ? 'Failed' :
      (order.status == orderStatus.delivered) ? 'Delivered' :
      (order.status == orderStatus.shiped) ? 'Shipped' :
      (order.status == orderStatus.pending) ? 'Pending' :
      (order.status == orderStatus.processed) ? 'Processed' :
    'Refunded' }}
    </small>
  </p-tag>
</div>
</td>


                <td>
                  <p-button
                  (click)="deleteOrder(order.id)"
                  styleClass="p-button-danger mr-2"
                  icon="pi pi-trash"></p-button>


                 <p-button
                 (click)="showOrder(order.id)"
                 styleClass="p-button-success"
                 icon="pi pi-eye"></p-button>
                </td>


            </tr>
        </ng-template>
    </p-table>
    </div>
  </div>



</p-card>
</div>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
